<h1><%= pluralize(@events.size, 'Event') %></h1>
<% @events.each do |event| %>
	<article>
		<h2><%= link_to(event.name, event) %></h2>
		<p><%= truncate(event.description, length: 35, separator: ' ') %></p>
		<ul>
			<li><strong>When: </strong><%= event.starts_at %>
			<li><strong>Where: </strong><%= event.location %>
			<li><strong>Price: </strong><%= format_price(event) %>
		</ul>
	</article>
<% end %>
